@page "/counter"

@inject ControlUnit ControlUnit;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="StartAsync">Start</button>

@code {
    private uint currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        ControlUnit.Map<ControlUnitStatus>(_ => { return; });
        ControlUnit.Map<ControlUnitTimer>(x => {
            IncrementCount();
        });

        await ControlUnit.ConnectAsync();
    }


    private void IncrementCount()
    {
        currentCount++;
        StateHasChanged();
    }

    private async Task StartAsync()
        => await ControlUnit.StartAsync();
}
